<a href="https://colab.research.google.com/github/averma111/PythonPandasAnalysis/blob/main/Pandas_Tutorial_Getting_to_know_your_data_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Getting to know your data part 1**

# **Step 1: Import the libraries**

In [ ]:
import pandas as pd
import numpy as np

## **Step 2: Import dataset from URL**

In [ ]:
URL = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(URL,sep ='\t')

## **Step 3: See the first ten entries**

In [ ]:
df.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

## **Step 4: What are the number of observations in the dataset?**

In [ ]:
#Solution 1 
df.shape[0]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

## **Step 5: What are the number of columns in dataset?**

In [ ]:
df.shape[1]

5

## **Step 6: Print the names of all columns?**

In [ ]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

## **Step 7: How is dataset indexed?**

In [ ]:
df.index

RangeIndex(start=0, stop=4622, step=1)

## **Step 8: Which one is the most ordered item?**

In [ ]:
most_ordered_item = df.groupby('item_name') \
                      .sum() \
                      .sort_values(['quantity'], ascending=False)
most_ordered_item.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

## **Step 9: What was the most ordered column in choice description column?**

In [ ]:
most_ordered_item_choice = df.groupby('choice_description') \
                             .sum() \
                             .sort_values(['quantity'], ascending = False)
most_ordered_item_choice.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

## **Step 10: Total orders for items?**

In [ ]:
total_orders = df.quantity.sum() 
total_orders

4972

## **Step 11: Turn the item price into a float**

In [ ]:
df.item_price.dtype
dollarvalue = lambda x:float(x[1:-1])
df.item_price = df.item_price.apply(dollarvalue)

df.item_price.dtype

dtype('float64')

## **Step 12: How much was the total revenue in the dataset?**

In [ ]:
revenue = (df['item_price'] * df['quantity']).sum()
print(f'Total revenue is $', revenue)

Total revenue is $ 39237.02

## **Step 13: How many orders were made in the period?**

In [ ]:
total_order = df['order_id'].value_counts().count()
total_order

1834

## **Step 14: Total revenue amount per order?**

In [ ]:
df['revenue'] = df['quantity'] * df['item_price']
order_grouped = df.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

## **Step 15: How many different items are sold?**

In [ ]:
df['item_name'].value_counts().count()

50